* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: white;
    color: darkblue;
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hours::after{
    content: 'HOURS';
}

#minutes::after{
    content: 'MINUTES';
}

#seconds::after{
    content: 'SECONDS';
}


/* Footer */
.custom-footer {
  width: 100%;
  background: linear-gradient(45deg, #1e4772, #822a98); /* Unique two-color gradient */
  text-align: center;
  padding: 20px 10px;
}
.footer-buttons, .footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}
.footer-buttons a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 25px;
  background: linear-gradient(45deg, #b0ff41, #ff2bdc);
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.footer-buttons a:hover {
  color: red;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0px 0px 50px rgba(28, 255, 126, 0.8);
}
.footer-social a {
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.footer-social a:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 4.5);
}
.facebook { background: #3b5998; color: white; }
.twitter { background: #1da1f2; color: white; }
.instagram { background: #e4405f; color: white; }
.linkedin { background: #0077b5; color: white; }
.github { background: #333; color: white; }
.footer-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 12px;
  font-weight: bold;
}