@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    box-sizing: border-box;
}

body {
    background: url("images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 40px 0;
    color: black;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}
