@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace; 
    box-sizing: border-box;
    color: rebeccapurple;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: white;
}

.container .btn{
    border-radius: 30px;
    padding: 10px 60px;
    border: 0;
    background: black;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.pop-up{
    width: 400px;
    background: #FFF;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

.open-pop-up{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.0);
}

.pop-up img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.pop-up h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: rebeccapurple;
}

.pop-up button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: rebeccapurple;
    color: #FFF;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}