* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
  background: linear-gradient(135deg, #4a90e2, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.todo-app .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-app h2 {
  font-size: 24px;
  color: #333;
  display: flex;
  align-items: center;
}

.todo-app img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#progress-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #3498db;
  border: 5px solid #3498db;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#input-box {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

#input-box:focus {
  border-color: #4a90e2;
}

#add-btn {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #4a90e2;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#add-btn:hover {
  background-color: #8e44ad;
}

#list-container {
  list-style-type: none;
  max-height: 300px;
  overflow-y: auto;
  padding: 0;
}

#list-container li {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#list-container li.checked {
  text-decoration: line-through;
  color: #888;
}

#list-container li .edit-btn,
#list-container li .delete-btn {
  border: none;
  border-radius: 50%;
  font-size: 16px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}

#list-container li .edit-btn {
  /* background: #f39c12; */
  color: white;
}

#list-container li .delete-btn {
  /* background: #e74c3c; */
  color: white;
}

#clear-btn {
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#clear-btn:hover {
  background-color: #c0392b;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #333;
  font-size: 14px;
}

.datetime {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}
