* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier Prime', monospace; */
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: black;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;    
}

form input.operator{
    color: gold;
}

/* Footer */
.custom-footer {
    width: 100%;
    background: linear-gradient(45deg, #1e4772, #822a98); /* Unique two-color gradient */
    text-align: center;
    padding: 20px 10px;
  }
  .footer-buttons, .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }
  .footer-buttons a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(45deg, #b0ff41, #ff2bdc);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .footer-buttons a:hover {
    color: red;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(28, 255, 126, 0.8);
  }
  .footer-social a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .footer-social a:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 4.5);
  }
  .facebook { background: #3b5998; color: white; }
  .twitter { background: #1da1f2; color: white; }
  .instagram { background: #e4405f; color: white; }
  .linkedin { background: #0077b5; color: white; }
  .github { background: #333; color: white; }
  .footer-text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
  }