@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    box-sizing: border-box;
}

body {
    background: url("images/background.png") no-repeat center center fixed;
    background-size: cover;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 40px 0;
    color: black;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}


/* Footer */
.custom-footer {
    width: 100%;
    background: linear-gradient(45deg, #1e4772, #822a98); /* Unique two-color gradient */
    text-align: center;
    padding: 20px 10px;
  }
  .footer-buttons, .footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }
  .footer-buttons a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(45deg, #b0ff41, #ff2bdc);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .footer-buttons a:hover {
    color: red;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 50px rgba(28, 255, 126, 0.8);
  }
  .footer-social a {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .footer-social a:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 4.5);
  }
  .facebook { background: #3b5998; color: white; }
  .twitter { background: #1da1f2; color: white; }
  .instagram { background: #e4405f; color: white; }
  .linkedin { background: #0077b5; color: white; }
  .github { background: #333; color: white; }
  .footer-text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
    font-weight: bold;
  }