@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
}
#left,#right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed black;
}
.list{
    background: dodgerblue;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}
